{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "8.10.0"
                },
                "corejs": 3,
                "useBuiltIns": "usage"
            }
        ],
        "@babel/preset-flow"
    ],
    "plugins": [
        "@babel/plugin-transform-flow-strip-types",
        "@babel/plugin-transform-runtime"
    ],
    "env": {
        "test": {
            "plugins": [
                "babel-plugin-rewire"
            ]
        }
    },
    "sourceMaps": true
}