{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "10.16.0"
                }
            }
        ],
        "@babel/preset-flow"
    ],
    "plugins": [
        "@babel/plugin-transform-flow-strip-types"
    ],
    "env": {
        "test": {
            "plugins": [
                "babel-plugin-rewire",
                "istanbul"
            ]
        }
    },
    "sourceMaps": true
}
