{
  "lines": 85,
  "statements": 85,
  "functions": 85,
  "branches": 85,
  "include": [
    "src/main/**/*.js"
  ],
  "exclude": [
    "flow-typed/**"
  ],
  "reporter": [
    "html",
    "text"
  ],
  "require": [
    "babel-register"
  ],
  "extension": [
    ".js"
  ],
  "sourceMap": true,
  "cache": false,
  "all": true,
  "check-coverage": true,
  "report-dir": "./coverage"
}
