version: 2.1
orbs:
  codecov: codecov/codecov@1.0.2
jobs:
  build:
    docker:
      - image: circleci/node:10

    working_directory: ~/repo

    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-

      - run: npm ci

      - run: git fetch --tags
      - run: npx commitlint --from $(git describe --abbrev=0 --tags)

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run: npm test

      - codecov/upload:
          file: {{ coverage/lcov.info }}

      - persist_to_workspace:
          root: ~/repo
          paths: .
  publish:
    docker:
      - image: circleci/node:10
    working_directory: ~/repo
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$npm_TOKEN" > ~/repo/.npmrc
      - run:
          name: Discable strict ssh key checking
          command: mkdir -p ~/.ssh && echo -e "Host github.com\n\tStrictHostKeyChecking no\n\tUserKnownHostsFile /dev/null\n" > ~/.ssh/config
      - run:
          name: Publish package
          command: npm run release

workflows:
  version: 2
  build-publish:
    jobs:
      - build:
          filters:
            tags:
              ignore: /.*/
      - publish:
          requires:
            - build
          filters:
            tags:
              ignore: /.*/
            branches:
              only: master